/**** YOUTUBE MODAL ****/
#videos-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#videos-modal.opened {
    opacity: 1;
    z-index: 10000;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#videos-modal #videos-modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

#videos-modal div, #videos-modal iframe, #videos-modal svg, #videos-modal img {
    display: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#videos-modal.opened div, #videos-modal.opened iframe, #videos-modal.opened svg, #videos-modal.opened img {
    display: block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#videos-modal.opened .videos_player {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 5%;
    z-index: 2;
}

#videos-modal.opened iframe {
    width: 100%;
    z-index: 1;
}

#videos-modal #videos-modal-close {
    display: none;
    position: absolute;
    width: 2rem;
    right: 1rem;
    top: 1rem;
    z-index: 3;
}

#videos-modal.opened #videos-modal-close {
    display: block;
}

#videos-modal.opened #videos-modal-prev-link, #videos-modal.opened #videos-modal-next-link {
    display: block;
    position: absolute;
    width: 2%;
    top: 49%;
    left: 5%;
}

#videos-modal.opened #videos-modal-next-link {
    left: auto;
    right: 5%;
}

#videos-modal.opened svg path {
    fill: #999;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#videos-modal.opened svg:hover path {
    fill: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.videos-modal-loader {
    position: absolute;
    width: 10%;
    top: 45%;
    left: 45%;
}

@media (orientation: portrait) {
    #videos-modal.opened .videos_player {
        transform: rotate(90deg);
    }

    #videos-modal.opened .videos_player iframe {
        margin-top: 10%;
    }
}
/** END YOUTUBE MODAL **/